@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    /* Space between the checkbox and text */
}

.custom-checkbox input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.custom-checkbox input[type="checkbox"]+span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #DBDBDB;
    border-radius: 4px;
    position: relative;
    transition: background-color 0.3s;

}

.custom-checkbox input[type="checkbox"]:checked+span {
    background-color: #45A849;
}

.custom-checkbox input[type="checkbox"]:checked+span::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}